



.board-list { 
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
    
}



.board-list-section {
    margin: 20px auto;
    border-radius: 20px;
    padding: 10px;
    overflow: scroll;
    display: flex;
    justify-content: center;
    width: fit-content + 5px;
    border: 2px solid #ccc;
    box-shadow: #00000033 2px 2px 10px;
    height: fit-content;
    background: linear-gradient(to right, #024aad, #c56ae5); 

}

li {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

button {
    font-size: 1.2rem;
    padding: 8px 12px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    background-color: white;
    color: #000;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s, transform 0.1s;
}