.card-list {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1rem;
    width: 100%;
    justify-items: stretch;
    align-items: start;
}



@media (max-width: 1200px) {
    .card-list {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (max-width: 900px) {
    .card-list {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 600px) {
    .card-list {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 420px) {
    .card-list {
        grid-template-columns: repeat(1, 1fr);
    }
} 