.card {
    display: grid;
    background: linear-gradient(to right, #024aad, #c56ae5); 
    grid-row: auto;
    border: 2px solid #00000033;
    border-radius: 12px;
    box-shadow: 2px 2px 10px #00000033;
    padding: 1rem;
    margin: 1rem;
    max-width: 150px;
    text-align: center;
}


.like-button {
    background-color: white;
    border: none;
    border-radius: 8px;
    height: fit-content;
    width: fit-content;
    cursor: pointer;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s, transform 0.1s;
}
.like-button:hover {
    background-color: #fdeb9d;
    transform: scale(1.05);
}
.delete-button {
    background-color: white;
    border: none;
    border-radius: 8px;
    height: fit-content;
    width: fit-content;
    cursor: pointer;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s, transform 0.1s;
}
.delete-button:hover {
    background-color: yellow;
    transform: scale(1.05);
}

.buttons-row {
    display: grid;
    grid-auto-flow: column; 
    gap: 0.5rem;           
    justify-content: center;  
}