
.card {
    display: grid;
    background: linear-gradient(to right, #024aad, #c56ae5); 
    background: var(--tile-bg);
    grid-row: auto;
    border-radius: 12px;
    box-shadow: 2px 2px 10px #00000033;
    padding: 1rem;
    margin: 1rem;
    max-width: 150px;
    text-align: center;
  
}


.like-button {
    background-color: white;
    border: none;
    border-radius: 8px;
    height: fit-content;
    width: fit-content;
    cursor: pointer;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s, transform 0.1s;
}
.like-button:hover {
    background-color: #686766;
    transform: scale(1.05);
}
.delete-button {
    background-color: white;
    border: none;
    border-radius: 8px;
    height: fit-content;
    width: fit-content;
    cursor: pointer;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s, transform 0.1s;
}
.delete-button:hover {
    background-color: #686766;
    transform: scale(1.05);
}

.buttons-row {
  display: flex;
  align-items: center;
  gap: 1rem;         
  justify-content: center;
}


.like-count {
  font-size: 1rem;   
  font-weight: bold;
  color: #ff5722;   
}

.like-group {
  display: flex;
  align-items: center;
  gap: 0.25rem;      
  background-color: white;
  border-radius: 8px;
  padding: 0 1rem; 
}