@font-face {
    font-family: 'delight';
    src: url('src/fonts/delight.otf') format('opentype');
}

.radio {
    margin-right: 100px;
    margin-left:8px;
    transform: scale(1.2);
}
fieldset {
    position: relative;
    bottom:180px;
    left: 80px;
    font-size: 1.2rem;
    padding: 2px 6px;
    width: fit-content;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    background-color: #fdeb9d;
    color: #000;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s, transform 0.1s;
}

legend, label {
    margin-right: 20px;
    font-weight: lighter;
    color: rgb(160, 157, 157);
}

fieldset:hover {
    background-color: #fdeb9d;
    transform: scale(1.05);
}   

.radio {
    margin-right: 100px;
    margin-left:8px;
    transform: scale(1.2);
}
