.card-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    justify-content: center;
    gap: 1rem;
}

.reset-button {
    position: relative;
    bottom:10px;
    left: 120px;
    font-size: 1.2rem;
    padding: 8px 12px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    background-color: #fdeb9d;
    color: #000;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s, transform 0.1s;
}
.reset-button:hover {
    background-color: #fdeb9d;
    transform: scale(1.05);
}