.new-board-form section {
    margin-bottom: 1rem; 
}

.new-board-form label {
    display: block;
    margin-bottom: 0.25rem; 
    font-size: 1.2rem
}

.new-board-form input {
    margin-bottom: 0.5rem; 
    font-size: 1.2rem
}

.new-board-form button {
    margin-top: 1rem; 
}

.new-board-form {
    border: 1px solid #ccc; 
    padding: 1rem;            
    margin-bottom: 1rem;      
    border-radius: 20px;      
    box-shadow: #00000033 2px 2px 10px;
}