
.newCardForm {
    background: var(--tile-bg);
}

.newCardForm section {
    margin-bottom: 1rem; 
    
}

.newCardForm label {
    display: block;
    margin-bottom: 0.25rem; 
    font-size: 1.2rem
}

.newCardForm input {
    margin-bottom: 0.5rem; 
    font-size: 1.2rem
}

.newCardForm button {
    margin-top: 1rem; 
    background-color: var(--button);
    color: var(--button-text);
}

.newCardForm {
    padding: 1rem;            
    margin-bottom: 1rem;      
    border-radius: 20px;      
    box-shadow: #00000033 2px 2px 10px;
}

