@font-face {
  font-family: 'cosmic-rockstar';
  src: url('./fonts/cosmic-rockstar.regular.otf') format('opentype');
}

@font-face {
  font-family: 'magic-delight';
  src: url('./fonts/magic-delight-demo.regular.otf') format('opentype');
}

@font-face {
  font-family: 'cosmic-rockstar-woff';
  src: url('./fonts/cosmic-rockstar.regular.woff') format('woff2');  
}


h1 {
  font-family: 'cosmic-rockstar';
  font-size: 8rem;
  color: #ffe261;
  text-shadow: 2px 2px #00000033;
}



#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
} 



@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
