@font-face {
  font-family: 'cosmic-rockstar';
  src: url('./fonts/cosmic-rockstar.regular.otf') format('opentype');
}

@font-face {
  font-family: 'magic-delight';
  src: url('./fonts/magic-delight-demo.regular.otf') format('opentype');
}

@font-face {
  font-family: 'cosmic-rockstar-woff';
  src: url('./fonts/cosmic-rockstar.regular.woff') format('woff2');  
}

body {
  background-color: rgb(0, 0, 0);
  margin: 0
}

body:has(.App.theme--light) {
  background-color: white;
}

.App {
  --page-bg: #000000;
  --header-bg: #000000;

  --text: #ffffff;
  --heading: #e7e7e7;

  --shadow: rgba(0, 0, 0, 0.15);

  --accent-gradient: linear-gradient(to right, #024aad, #c56ae5);
  --tile-bg: linear-gradient(to right, #024aad, #c56ae5);

  background-color: rgb(0, 0, 0);
  min-height: 100vh;
  --button: black;
  --button-text: #ffffff;
}

.App.theme--light {
  --page-bg: #19339b;
  --header-bg: #ffffff;

  --text: #111418;
  --heading: #dd88ec;

  --accent-gradient: linear-gradient(to right,  #e9efd0, #d89beb);
  --tile-bg: linear-gradient(to bottom, #e9efd0, #d89beb);
  background-color: white;
  --button: white;
  --button-text: #000000;

  --shadow: rgba(0, 0, 0, 0.1);
}


.App-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  background-color: var(--header-bg);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 1rem;
}

.App-header h1 {
  /* font-family: 'magic-delight'; */
  font-size: 8rem;
  margin: 0;
}

h1 {
  font-family: 'cosmic-rockstar';
  font-size: 8rem;
  color: var(--heading);
  text-shadow: 2px 2px #00000033;
  margin-bottom: 1rem; 
}

h2 {
  text-transform: uppercase;
  text-decoration: underline;
  text-underline-offset: 10px; 
  /* background: linear-gradient(to right, #024aad, #c56ae5);  */
  background: var(--accent-gradient);
  padding: 1em; 
  border-radius: 14px;
}


#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 13rem 1rem 1rem;
  text-align: center;
} 

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.board-actions {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  margin: 16px 0 24px;
  flex-wrap: wrap;
}

.action-btn {
  height: 56px;
  border-radius: 14px;
  border: none;
  cursor: pointer;

  /* box-shadow: 0 6px 16px rgba(0,0,0,0.15); */
  box-shadow: 0 6px 16px var(--shadow);
  padding: 0 18px;
  font-size: 20px;
}

.action-btn--icon {
  width: 56px;
  padding: 0;
  font-size: 28px;
}

.action-btn:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

p {
  color: var(--text);
  font-size: 20px; 
}

.board-toolbar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  margin: 1rem 0 1.5rem;
  flex-wrap: wrap;
  /* background : linear-gradient(to right, #024aad, #c56ae5); */
  background: var(--accent-gradient);
  border-radius: 12px;
  padding: 1rem;
  /* border-color: white; */
}

.board-toolbar p {
  margin: 0;
}


.theme-toggle {
  position: absolute;
  top: 16px;
  right: 16px;

  border: none;
  background: transparent;
  cursor: pointer;
  font-size: 1.4rem;
  padding: 6px 8px;
  border-radius: 10px;
  color: var(--text);
}
